/*    BackTalk Grid System
*     by Cody Byrnes
*/
$full_width:960px;
$margin_space:20;
$cols:16;
//Breakpoint Definitions 
$tablet_portrait_size:768px;
$all_mobile_size: $tablet_portrait_size - 1;
$phone_landscape_size:480px;
$phone_portrait_size: $phone_landscape_size - 1;
//Mobile Columns Sizes 
$phone_landscape_col:420px;
$phone_portrait_col:300px;
//Responsive?
$responsive: true !default;

//Sets the margin space for each Side of the columns unit 
@mixin margins{
	margin-left:#{$margin_space/2}px;
  margin-right:#{$margin_space/2}px;
}

//Media calls made as a mixin
@mixin respond-to($media) {
  @if $media == phone_portrait {
    @media only screen and (max-width: $phone_portrait_size) { @content; }
  }
  @else if $media == phone_landscape {
    @media only screen and (min-width: $phone_landscape_size) and (max-width: $all_mobile_size) { @content; }
  }
  @else if $media == all_mobile {
    @media only screen and (max-width: $all_mobile_size) { @content; }
  }
  @else if $media == tablet_portrait {
    @media only screen and (min-width: $tablet_portrait_size) and (max-width: $full_width - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $full_width) { @content; }
  }
}

.container{
	width:$full_width;
	margin:auto;
  @if $responsive {
	@include respond-to(desktop) {width: #{$full_width}}
	@include respond-to(tablet_portrait) {width: #{$tablet_portrait_size}}
	@include respond-to(phone_landscape) {width: #{$phone_landscape_size}}
	@include respond-to(phone_portrait) {width: 320px;}
}
}
.columns{
	@include margins;
  @if $responsive {
	@include respond-to(all_mobile){float:none;margin-left:auto;margin-right:auto;}
}
	float:left;
}
.alpha{
  margin-right:#{$margin_space}px !important;
  margin-left: 0px;
  @if $responsive {
	@include respond-to(all_mobile){margin-left:auto;margin-right: auto;}
}
}
.omega{
margin-left: #{$margin_space}px !important;
margin-right: 0px;
  @if $responsive {
	@include respond-to(all_mobile){margin-left:auto;margin-right: auto;}
}
}

.container .one-third.columns{
  width: $full_width/3 - $margin_space;
  @if $responsive {
      @include respond-to(phone_portrait) { 
          width: #{$phone_portrait_col};
      }
      @include respond-to(phone_landscape) { 
           width: #{$phone_landscape_col};
      }
      @include respond-to(tablet_portrait) {
          width:  $tablet_portrait_size/3 - $margin_space;
      }
    }
}
.container .two-third.columns{
  width: ($full_width/3)*2 - $margin_space;
  @if $responsive {
      @include respond-to(phone_portrait) { 
          width: #{$phone_portrait_col};
      }
      @include respond-to(phone_landscape) { 
           width: #{$phone_landscape_col};
      }
      @include respond-to(tablet_portrait) {
          width:  ($tablet_portrait_size/3)*2 - $margin_space;
      }
    }
}

@for $i from 1 through $cols {
	$col_width: $full_width/$cols*$i  -  $margin_space;
  .container .span-#{$i}.columns {
  		width: #{$col_width};

      @if $responsive{
  		@include respond-to(phone_portrait) { 
          width: #{$phone_portrait_col};
  		}
  		@include respond-to(phone_landscape) { 
           width: #{$phone_landscape_col};
  		}
  		@include respond-to(tablet_portrait) {
  				$col_width: $tablet_portrait_size/$cols*$i  -  $margin_space;
  			  width: #{$col_width};
  		}
    }
  }
}