/* BackTalk_Grid.scss */

$full_width:960px;
$margin_space:20;
$cols:16;

@mixin margins{
	$margin: 0px #{$margin_space/2}px 0px #{$margin_space/2}px;
	margin:$margin;
}

.columns{
	@include margins;
}
.container{
	width:$full_width;
	margin:0 auto;
}

@for $i from 1 through $cols {
	$col_width: $full_width/$cols*$i  -  $margin_space;
  .span-#{$i}.columns { width: #{$col_width}

  }}

