/* BackTalk_Grid.scss */

$full_width:1024px;
$margin_space:20px;
$cols:16;

@mixin margins{
	$margin: 0px $margin_space/2 0px $margin_space/2;
	margin:$margin;
}

.columns{
	@include margins;
}

@for $i from 1 through $cols {
  .span-#{$i}.columns { width: #{$full_width/$cols*#{$i}  -  $margin_space}

  }}

