/* BackTalk_Grid.scss */
.col-1 {
  width: 64px*1 - 20px; }

.col-2 {
  width: 64px*2 - 20px; }

.col-3 {
  width: 64px*3 - 20px; }

.col-4 {
  width: 64px*4 - 20px; }

.col-5 {
  width: 64px*5 - 20px; }

.col-6 {
  width: 64px*6 - 20px; }

.col-7 {
  width: 64px*7 - 20px; }

.col-8 {
  width: 64px*8 - 20px; }

.col-9 {
  width: 64px*9 - 20px; }

.col-10 {
  width: 64px*10 - 20px; }

.col-11 {
  width: 64px*11 - 20px; }

.col-12 {
  width: 64px*12 - 20px; }

.col-13 {
  width: 64px*13 - 20px; }

.col-14 {
  width: 64px*14 - 20px; }

.col-15 {
  width: 64px*15 - 20px; }

.col-16 {
  width: 64px*16 - 20px; }
